.primary-colour {
    background-color: #162937;
}

.nav-link {
    color:dimgray;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    margin-right: 50px;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
}